body{

    font-family:"Inter",sans-serif;

    background:#F8F6F2;

    color:#222;

}

/* ---------- NAVBAR ---------- */

.navbar{

    background:white;

}

/* ---------- HERO ---------- */

.hero{

    height:100vh;

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    overflow:hidden;

    background-image:
linear-gradient(
rgba(15,25,40,.60),
rgba(15,25,40,.60)
),
url("../img/hero.jpg");

    background-size:cover;

    background-position:center;

}

.hero-content{

    position:relative;

    z-index:2;

    color:white;

}

.hero h1{

    font-family:"Cormorant Garamond",serif;

    font-size:6rem;

    letter-spacing:8px;

}

.hero-subtitle{

    letter-spacing:4px;

    text-transform:uppercase;

    opacity:.85;

}

.hero-text{

    font-size:1.4rem;

    max-width:700px;

    margin:auto;

    margin-top:30px;

    line-height:1.8;

}

.btn{

    border-radius:40px;

    padding:14px 36px;

}

.navbar{
    background:transparent;
    transition:.4s;
    padding:20px 0;
}

.navbar-brand{
    font-family:"Cormorant Garamond", serif;
    font-size:2rem;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    letter-spacing:1px;
}
